{% extends "homepage.html" %}
{% block home%}

    <div id="product_main">
        <div id="product_img">
            <img src="images/cloths.png"/>
        </div>
        <div id="product_detail">
            <p>{{product.product_name}}</p>
              <p>Rating : 
                   {{product.rating}} &#11088;
            </p>
              <p style="color:green;">Rs.{{product.product_price}}</p>
              <p>Product Details : {{product.product_description}}</p>
              <button style="background-image: linear-gradient(169deg, #00cebe ,#0057e0 )">Add to cart</button>
        </div>
    </div>
        <div id="product_recommend">
            {%for item in products%}
          <div class="items">
            <div><a href="{%url 'product_detail' item.product_id%}"><img src="book.html"/></a></div>
            
              <a href="{%url 'product_detail' item.product_id%}">
              <p>{{item.product_name}}</p>
              <p>Rating : 
                   {{item.rating}} &#11088;
            </p>
              <p style="color:green;">Rs.{{item.product_price}}</p>
              <button style="background-image: linear-gradient(169deg, #00cebe ,#0057e0 )">Add to cart</button>
          </a>
            
          </div>
            {%endfor%}
        </div>


{% endblock%}